

<a href="#/login">Login</a>
<a href="#/player">Listen</a>
<a href="#/upload">Upload</a>

<div class = "player" layout="column">
    <div class="progress-bar" layout="row">
    </div>
    <div class="player-wrapper" layout="row">
    <div class="player-left-wrapper" layout="column" flex="33">
    </div>
    <div class="player-center-wrapper" layout="column" flex="33">
        <div class="player-controls" layout="row">
        <div layout="column" flex="33">
            <span class="back-button octicon octicon-triangle-left"></span>
        </div>
        <div layout="column" flex="33">
            <div class="player-controls" layout="row">
            <div layout="column" layout-align="center center" flex="33">
                <i class="material-icons md-48">skip_previous</i>
            </div>
            <div layout="column" layout-align="center center" flex="33" ng-click="ctrl.play_pause()">
                    <i ng-if="!ctrl.playing" class="material-icons md-48">play_arrow</i>
                    <i ng-if="ctrl.playing" class="material-icons md-48">pause</i>
            </div>
            <div layout="column" layout-align="center center" flex="33">
                <i class="material-icons md-48">skip_next</i>
            </div>
            </div>
        </div>
        <div layout="column" flex="33">
        </div>
        </div>
    </div>
    <div class="player-right-wrapper" layout="column" flex="33">
    </div>
    </div>
</div>