body {
    height:100%;
    background-color:#fafafa;
}

.player-button{
    width:64px;
    height:64px;
    font-size:35px;
    color:#fff;
    text-align:center;
}

.progress-bar{
    color:red;
    background-color:#673AB7;
}

.player-wrapper{
    height:100%;
}

.player-left-wrapper{
    height:100%;
}

.player-center-wrapper{
    height:100%;
}

.player-right-wrapper{
    height:100%;
}


.material-icons.md-48.player{
    width:48px;
    border-radius:100%;
    font-size: 48px;
    color:white;
    background-color:#673AB7;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.material-icons.md-48.episode{
    line-height: 48px;
    color:black;
    vertical-align: center;
}

.player-controls{
    height:100%;
}

.player{
    color:#673AB7;
    background-color:#FFF;
    height:64px;
    width: 100%;
    line-height: 64px;
    position: fixed;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    
}

.wrapper {
    min-height:100%;
    position:relative;
}

.content{
    /*margin-top: 64px;*/
    margin:80px auto;
    width:80%;
    min-height:80%;
    background-color:#fafafa;
}

.sidebar{
    margin-top: 64px;
    background-color:#fff;
}

.right-panel{
    height:100%;
    padding:0px;
}

.header{
    height: 64px;
    line-height: 64px;
    position: fixed;
    top:0px;
    width:100%;
    height: 64px;
    color:#fff;
    background-color:#673AB7;
    box-shadow: 0 3px 5px rgba(0,0,0,0.26);
}

.episode-container{
    background-color:white;
    box-shadow: 0 3px 5px rgba(0,0,0,0.26);
}

.show-item-list{
    vertical-align: center;
    line-height: 48px;
}

.show-item-list:hover{
    background-color:#fafafa;
}
.show-display-meta{
    margin: 12px;

}

.episode-display-break{
    width:100%;
    height:3px;
    background-color:#673AB7;
}

.episode-image{
    width:192px;
    height:192px;
}