body {
    height:100%;
    background-color:#fafafa;
}

.player-button{
    width:64px;
    height:64px;
    font-size:35px;
    color:#fff;
    text-align:center;
}

.progress-bar{
    color:red;
    background-color:#673AB7;
}

.player-wrapper{
    height:100%;
}

.player-left-wrapper{
    height:100%;
}

.player-center-wrapper{
    height:100%;
}

.player-right-wrapper{
    height:100%;
}


.material-icons.md-48 {
    width:48px;
    border-radius:100%;
    font-size: 48px;
    color:white;
    background-color:#673AB7;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.player-controls{
    height:100%;
}

.player{
    color:#673AB7;
    background-color:#FFF;
    height:64px;
    width: 100%;
    line-height: 64px;
    position: fixed;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    
}

.wrapper {
    min-height:100%;
    position:relative;
}

.content{
    /*margin-top: 64px;*/
    margin-top: 80px;
    width:100%;
    min-height:80%;
    background-color:#fafafa;
}

.sidebar{
    margin-top: 64px;
    background-color:#fff;
}

.right-panel{
    height:100%;
    padding:0px;
}

.header{
    height: 64px;
    line-height: 64px;
    position: fixed;
    top:0px;
    width:100%;
    height: 64px;
    color:#fff;
    background-color:#673AB7;
    box-shadow: 0 3px 5px rgba(0,0,0,0.26);
}

.show-item-list{
    background-color:white;
    line-height: 48px;
    padding-left: 12px;
}

.show-item-list:hover{
    background-color:gray;
}