<form class="content" layout="column" ng-cloak>
    <md-autocomplete
        md-selected-item="selectedItem"
        md-no-cache="True"
        md-search-text-change="searchTextChange(searchText)"
        md-search-text="searchText"
        md-selected-item-change="selectedItemChange(item)"
        md-items="item in querySearch(searchText)"
        md-item-text="item"
        md-min-length="0"
        placeholder="Select the show you want to upload to.">
      <md-item-template>
        <span md-highlight-text="searchText" md-highlight-flags="^i">{{item}}</span>
      </md-item-template>
      <md-not-found>
        None of your shows match "{{searchText}}".
        <md-button href="#/newShow">Create a new one!</md-button>
      </md-not-found>
    </md-autocomplete>

    <md-input-container>
        <label>Episode Title</label>
        <input ng-model="title">
    </md-input-container>

            
    <md-input-container class="md-block">
          <label>Episode Description</label>
          <textarea ng-model="description" md-select-on-focus></textarea>
    </md-input-container>  

    <lf-ng-md-file-input lf-files='files' accept="audio/*"> </lf-ng-md-file-input>
    <md-button type="submit" class="md-raised md-primary" ng-click="uploadFiles()">
        Submit
    </md-button> 
</form>