<div class="content">
    <md-card>
        <md-toolbar>
            <h3> Your Shows </h3>
        </md-toolbar>
        <div ng-repeat="show in user.shows">
            <h3>{{ show.title }}</h3>
            <img ng-src="{{ show.imageSrc }}" >
            <div ng-repeat="episode in show.episodes">
                <md-list-item class="secondary-button-padding" ng-click="playEpisode(episode)">
                    <p> {{ episode.title }}</p>
                </md-list-item>
            </div>
        </div>
    </md-card>
</div>