<form class="content">
    <md-input-container>
        <label>Show Title</label>
        <input ng-model="title">
    </md-input-container>

    <!--<lf-ng-md-file-input lf-files='files' accept="image/*"> </lf-ng-md-file-input>-->
        
    <md-input-container class="md-block">
          <label>Show Description</label>
          <textarea ng-model="description" md-select-on-focus></textarea>
    </md-input-container>  
    
    <md-button type="submit" class="md-raised md-primary" ng-click="createShow()">
        Submit
    </md-button> 
</form>